:root {
  --primary: #0016A2;
  --secondary: #79C2EF;
  --background: #F3F7FC;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}
